.showImg{
    display: none;
}

.active{
    display: block;
}

.show{
    display: flex;
    justify-content: center;
}

.collors-stend{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

